body 
{
    margin: 0cm;
    padding: 0cm;
    background-color: #cdecc5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
}

img {
	width: 30%;
}
table{
    text-align: center;
    width: 100%;
    align: center
}
table td{
    border: solid;
    border-radius: 2px;
    border-color: rgb(67,100,59);
}
table th{
    border: solid;
    border-radius: 5px;
    border-color: rgb(67,100,59);
}
a {
    text-decoration: none;
    color: rgb(54,69,79);
    font-style: italic;
}
a:hover {
  color: hotpink;
  text-decoration: underline;
    cursor: crosshair;
}
a :visited{
    color: blank;
}
a :active{
    color: blue;
}
