@media screen and (max-width: 800px){
    header{
        display: block;
    }
    body{
        font-size: 7px;
        margin-left: 0px;
        text-align: center;
    }
    img{
        size: 40%;
    }
    footer{
        font-size: 7px;
    }
    svg{
        margin-left: 0px;
        align-items:center;
        display: block;
    }
}

h1 {
text-align: center;
font-family:  "vinyl pop", "times new roman", Times, serif;
color: rgb(120,205,123) ; 
text-shadow: 0.05cm 0.05cm rgb(67,100,59);
font-size: 270%
}
.titulo1{
    width: 40%;
}

body {
    margin-left: 2cm;
    background-color: #cdecc5; 
    padding: 1cm;
    font-family:'Times New Roman', Times, serif;
    color: rgb(67,100,59);
    font-size: 13px;
}

table {font-size: 130%;
text-align: justify;
}
header{
    display: inline-block;
}
.encabezado {
    font-size: 150%;
    font-weight: bold;
    text-shadow: 0.04cm 0.04cm rgb(120,205,123);
}
#svg {
  margin-left: 50%;
  padding: 10px;
}

.info {
    width: 200px;
    font-weight: bold
}
footer {
  background-color: #777;
  padding: -10px;
  margin-left: -4cm;
  margin-right: -2cm;
  margin-bottom: -2cm;
  color: white;
  font-size: 13px;
  text-align: center;
} 
a {
    text-decoration: none;
    color: rgb(54,69,79);
    font-style: italic;
}
a:hover {
    color: hotpink;
    text-decoration: underline;
    cursor: crosshair;
}
a :visited{
    color: blank;
}
a :active{
    color: blue;
}
img{
    width: 20%;
    align: center;
}
#aboutus {
    width: 50%;
    height: 100%;
    scrolling: no;
    border-radius: 5px;
}
