body 
{
    margin: 2cm;
    padding: 0cm;
    background-color: #cdecc5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-align: center;
}

img {
	width: 30%;
}
table{
    text-align: center;
    width: 50%;
    align: center
}
table td{
    border: solid;
    border-radius: 2px;
    border-color: rgb(67,100,59);
}
table th{
    border: solid;
    border-radius: 5px;
    border-color: rgb(67,100,59);
}
