body  

{ 

    box-sizing: border-box; 

    background-color: white; 

    font-family: "lato", sans-serif; 

} 

.reserva { 

    display: flex; 

    justify-content: center; 

    align-items: center; 

    height: 100vh; 

} 

.formulario { 

    width: 400px; 

    border-radius: 8px; 

    padding: 20px 40px; 

    box-shadow: 0 10px 25px rgba(92, 99, 105, .2); 

} 

.titulo { 

    font-size: 50px; 

    margin-bottom: 50px; 

} 

.cajas { 

    position: relative; 

    height: 45px; 

    width: 90%; 

    margin-bottom: 17px; 

} 

.datos { 

    position: absolute; 

    height: 100%; 

    width: 100%; 

    border: 1px solid rgba(92, 99, 105, .2); 

    border-radius: 7px; 

    font-size: 16px; 

    padding: 0 20px; 

    color: #000000; 

} 

 
 

.boton { 

    display: block; 

    margin-left: auto; 

    padding: 15px 30px; 

    border: none; 

    background-color: rgb(120, 185, 103); 

    color: white; 

    border-radius: 6px; 

    cursor: pointer; 

    font-size: 16px; 

    margin-top: 30px; 

} 

 
 

.boton:hover { 

    background-color: rgb(67, 100, 59); 

    transform: translateY(-2px); 

} 

.fecha { 

    height: 100%; 

    width: 100%; 

    border: 1px solid #c8cbce; 

    border-radius: 7px; 

    font-size: 16px; 

} 
