h1 {
  text-align:center;  
    line-height: 400px;  
    color: rgb(350,350,350); 
    font-size:450%; 
    text-shadow: 0.1cm 0.1cm rgb(50,50,50); 
    font-family: vinyl pop, times new romans 
}  
.p1 {
    text-align: center
} 
body{
    margin: 2cm;  
    background-color: rgb(205,236,197) 
}  
header {  
    height: 400px;  
    background-image: url("https://cdn.pixabay.com/photo/2020/02/22/00/03/dawn-4869057_1280.jpg");  
    background-size: cover;  
    background-repeat:no-repeat;  
    background-position: center center;  
    margin: -2cm;  
    margin-bottom: 0cm  
}  
h2 {
    font-size: 40px; 
    font-family: colonna mt, cooper, times new roman; 
    color: rgb(120,185,103) ; 
    text-shadow: 0.05cm 0.05cm rgb(67,100,59)
}  
h3 { 
    color: rgb(67,100,59)
} 
.Botonera {  
    overflow: hidden;  
    background-color: rgb(120,185,103);  
    width: calc((100%/5)-60px);  
    top: 0;  
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
    border-radius: 30px; 
    display: inline-block;
    text-align: center;
    
}  
.Botonera a  {  
    float: left;  
    display: block;  
    color: #ffffff;  
    text-align: center;  
    padding: 18px 20px;  
    font-size: 20px;  
    border-radius: 30px; 
    text-decoration: none 
    
}  
.Botonera :hover {  
    background: rgb(67,100,59);  
    color: black;  
}  
.table1 {
    border-collapse: collapse; 
    border-spacing: 10px 20px;
}  
tr.encabezado {
    font-weight: bold
}  
.table1 td, th {
    border: 1px solid #dddddd;  
    text-align: center;  
    padding: 8px;  
}  
footer {
  background-color: #777;
  padding: 10px;
  margin-left: -2cm;
  margin-right: -2cm;
  margin-bottom: -2cm;
  color: white;
  font-size: 13px;
  text-align: center;
} 
