h1 {
    text-align: center;
    padding-bottom: 50%;
    color: rgb(350,350,350); 
    font-size:450%; 
    text-shadow: 0.1cm 0.1cm rgb(50,50,50); 
    font-family:  "vinyl pop", "times new roman", Times, serif;
}  

#mapa {width: 40%; 
       style: "border:0;" 
       allowfullscreen: "";
       loading: "lazy";
       referrerpolicy: "no-referrer-when-downgrade";
      border: 1px}  

.h1 {align-items: center;
display: center;
justify-content: center;
line-height: 6cm;}  

.p1 {
    text-align: center
} 
body{
    margin-left: 2cm;  
    margin-right: 2cm;
    margin-bottom: 2cm;
    margin-top: 0cm;
    background-color: #cdecc5; 
    padding: 1cm;
    font-family:'Times New Roman', Times, serif;
}  
header { 
     height: 400px;
    background-image: url("https://cdn.pixabay.com/photo/2020/02/22/00/03/dawn-4869057_1280.jpg");  
    background-size: cover;  
    background-repeat:no-repeat;  
    background-position: center center;  
    margin: -2cm;  
    margin-bottom: 0cm  
}   
h2 {
    font-size: 40px; 
    font-family: colonna mt, cooper, times new roman; 
    color: rgb(120,185,103) ; 
    text-shadow: 0.05cm 0.05cm rgb(67,100,59)
}  
h3 { 
    color: rgb(67,100,59)
} 
a {
    text-decoration: none;
    color: rgb(54,69,79);
    font-style: italic;
}
a:hover {
  color: hotpink;
  text-decoration: underline;
    cursor: crosshair;
}
a :visited{
    color: blank;
}
a :active{
    color: blue;
}
.Boton {
    font-size: 20px;
    display: inline-block;
    border-radius: 30px;
    background-color: rgb(120,185,103); 
    width: calc((100% / 5) - 10px);
    padding: 10px 0px;
    text-align: center;
    cursor: w-resize; 
    text-align: center;
}
.Boton a  {   
    float: left; 
    display: inline-block;  
    color: #ffffff;  
    text-align: center;  
    padding: 18px 20px;    
    font-size: 20px;  
    border-radius: 30px; 
    text-decoration: none;
}  
.Boton a:hover {  
    background: rgb(67,100,59);  
    color: black;  
}  
.fondomenu {
    background-color: rgb(120,185,103); 
    border-radius: 30px;
    width: 100%;
}
.table1 {
    border-collapse: collapse; 
    border-spacing: 10px 20px;
}  
tr.encabezado {
    font-weight: bold
}  
.table1 td, th {
    border: 1px solid #dddddd;  
    text-align: center;  
    padding: 8px;  
}  
footer {
  background-color: #777;
  padding: 10px;
  margin-left: -2cm;
  margin-right: -2cm;
  margin-bottom: -2cm;
  color: white;
  font-size: 13px;
  text-align: center;
} 
audio{
    border-color: brown;
    border-radius: 50px;
    border-style: solid;
    width: 40%;
}

#aboutustitle {
    text-align: center;
    font-size: 35px;
    font-style: bold;
}
#aboutus {
     width: 50%;
     height: 38%;
     scrolling: no;
     border-radius: 5px;
 }
